<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">

    <title>主页</title>


    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>




    <link href="css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">艾欧泽亚大皇冠</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" th:href="@{/index.html}">注销</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/dashboard.html}">
              <span>
                <i class="bi bi-person-lines-fill" style="font-size: 1.5rem"></i>
              </span>
              <span style="font-size: 24px" th:inline="text">被宽恕的[[${username}]]</span>
            </a>
          </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>卑  微  导  随  人</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/record.html}">
              <span data-feather="file-text">
                <i class="bi bi-list-stars" style="font-size: 1.5rem"></i>
              </span>
              <span style="font-size: 20px">导随记录</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/journal.html}">
              <span data-feather="file-text">
                <i class="bi bi-journal-bookmark-fill" style="font-size: 1.5rem"></i>
              </span>
              <span style="font-size: 20px">导随日志</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/noob.html}">
              <span data-feather="file-text">
                <i class="bi bi-lightning" style="font-size: 1.5rem"></i>
              </span>
              <span style="font-size: 20px">小心毒豆芽</span>
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-left: 22%; margin-right: 22%">
        <h1 class="h2">你醒啦我的宝</h1>


      </div>
      <div class="container-fluid nav flex-column justify-content-center align-items-center" >
        <h1 class="h2">我的天呐，现在已经是</h1>
        <h1 class="h3"><span id="year"></span>年<span id="month"></span>月<span id="date"></span>日</h1>

        <h1 class="h1" style="font-size: 60px">
          <span id="hour"></span>
          :<span id="minute"></span>
          :<span id="second"></span>
          了！
        </h1>

        <h1 class="h3">
          距离你的</span>
          <img class="mb-4" src="images/tian_yang_ma.png" alt="tianyangma">
          还有<span id="left_times" style="font-size: 40px" th:text="${leftmissiontimes}"></span>把
        </h1>

        <h1 class="h2">还不快去搞一把</h1>
        <div>
          <i class="bi bi-arrow-down" style="font-size: 3rem; color: cornflowerblue"></i>
          <i class="bi bi-arrow-down" style="font-size: 3rem; color: cornflowerblue"></i>
          <i class="bi bi-arrow-down" style="font-size: 3rem; color: cornflowerblue"></i>
          <i class="bi bi-arrow-down" style="font-size: 3rem; color: cornflowerblue"></i>
          <i class="bi bi-arrow-down" style="font-size: 3rem; color: cornflowerblue"></i>
          <i class="bi bi-arrow-down" style="font-size: 3rem; color: cornflowerblue"></i>
        </div>
        <a th:href="@{record.html}">
          <img class="mb-4" src="images/daosui.png" alt="daosuiren" width="400" height="300">
        </a>


        <!--显示时间-->
        <script th:inline="javascript">
          function time(){
            var myTime = new Date();
            var yearNow = myTime.getFullYear();
            document.getElementById("year").innerHTML = yearNow.toString();
            var monthNow = myTime.getMonth();
            document.getElementById("month").innerHTML = monthNow.toString();
            var dateNow = myTime.getDate();
            document.getElementById("date").innerHTML = dateNow.toString();
            var hourNow = myTime.getHours();
            document.getElementById("hour").innerHTML = hourNow.toString();
            var minuteNow = myTime.getMinutes();
            document.getElementById("minute").innerHTML = minuteNow.toString();
            var secondNow = myTime.getSeconds()
            document.getElementById("second").innerHTML = secondNow.toString();
          }
          setInterval("time()",1000);
        </script>

      </div>
    </main>
  </div>
</div>

  </body>
</html>
