<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">

  <title>主页</title>


  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>




  <link href="css/dashboard.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">艾欧泽亚大皇冠</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" th:href="@{index.html}">注销</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" th:href="@{dashboard.html}">
              <span>
                <i class="bi bi-person-lines-fill" style="font-size: 1.5rem"></i>
              </span>
              <span style="font-size: 24px" th:inline="text">被宽恕的[[${username}]]</span>
            </a>
          </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>卑  微  导  随  人</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" th:href="@{record.html}">
              <span data-feather="file-text">
                <i class="bi bi-list-stars" style="font-size: 1.5rem"></i>
              </span>
              <span style="font-size: 20px">导随记录</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="file-text">
                <i class="bi bi-journal-bookmark-fill" style="font-size: 1.5rem"></i>
              </span>
              <span style="font-size: 20px">导随日志</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{noob.html}">
              <span data-feather="file-text">
                <i class="bi bi-lightning" style="font-size: 1.5rem"></i>
              </span>
              <span style="font-size: 20px">小心毒豆芽</span>
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-left: 22%; margin-right: 22%">
        <h1 class="h2">看看你的导随历史吧</h1>
      </div>

      <div id="raid" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-left: 22%; margin-right: 22%; width: 600px; height: 400px">
        <script th:inline="javascript">
          var raidChart = echarts.init(document.getElementById('raid'));
          var allRaidNames = [[${allrn}]]
          var allRaidTimes = [[${allrt}]]
          var raidOption = {
            title: {
              text: '导随的副本历史'
            },
            tooltip: {},
            legend: {
              data: [{
                name: '次数',
                icon: 'circle',
              }]
            },
            xAxis: {
              data: allRaidNames,
              axisLabel: {
                interval: 0,
                formatter: function(value) {
                  return value.split("").join("\n");
                }
              }
            },
            yAxis: {

            },
            color: '#97FFFF',
            series: [{
              name: '次数',
              type: 'bar',
              data: allRaidTimes,



            }]
          }
          raidChart.setOption(raidOption);
        </script>

      </div>
      <div id="job" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-left: 22%; margin-right: 22%; width: 600px; height: 400px">
        <script th:inline="javascript">
          var jobChart = echarts.init(document.getElementById('job'));
          var allJobNames = [[${alljn}]]
          var allJobTimes = [[${alljt}]]
          var jobColor = [[${jobcolor}]]
          var jobOption = {
            title: {
              text: '导随的职业历史'
            },
            tooltip: {},
            xAxis: {
              data: allJobNames
            },
            yAxis: {

            },
            series: [{
              name: '次数',
              type: 'bar',
              data: allJobTimes,
              itemStyle: {
                normal: {
                  color: function(params) {
                    var colorList = jobColor;
                    return colorList[params.dataIndex]
                  }
                }
              }
            }]
          }
          jobChart.setOption(jobOption);
        </script>
      </div>

      <div id="bobo" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-left: 22%; margin-right: 22%; width: 600px; height: 400px">
        <script th:inline="javascript">
          var boboChart = echarts.init(document.getElementById('bobo'));
          var boboData = [];
          var bobo = new Object();
          bobo.name = '波波';
          bobo.value = 0;
          boboData[0] = bobo;
          var other = new Object();
          other.name = '其他';
          other.value = 0;
          boboData[1] = other;
          for(var i = 0; i < allRaidNames.length ; i++) {
            if(allRaidNames[i].toString() === '波波') {
              boboData[0].value += allRaidTimes[i];
            }
            else{
              boboData[1].value += allRaidTimes[i];
            }
          }
          var boboOption = {
            title: {
              text: '波波率'
            },
            tooltip: {},
            series: [{
              type: 'pie',
              data: boboData

            }]
          }
          boboChart.setOption(boboOption)
        </script>
      </div>
      <div id="jobClassify" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-left: 22%; margin-right: 22%; width: 600px; height: 400px">
        <script th:inline="javascript">
          var jobCChart = echarts.init(document.getElementById('jobClassify'));
          var jobCData = [];
          var jobCColor = ['#0000CD','#228B22','#FF0000'];
          var tank = new Object();
          tank.name = '坦克';
          tank.value = 0;
          jobCData[0] = tank;
          var heal = new Object();
          heal.name = '奶妈';
          heal.value = 0;
          jobCData[1] = heal;
          var dps = new Object();
          dps.name = 'DPS';
          dps.value = 0;
          jobCData[2] = dps;
          for(var i = 0; i < allJobNames.length ; i++) {
            var thisJob = allJobNames[i].toString();
            if(thisJob === '黑骑' || thisJob ==='枪刃' || thisJob === '骑士' || thisJob ==='战士') {
              jobCData[0].value += allJobTimes[i];
            }
            else if(thisJob === '占星' || thisJob === '学者' || thisJob === '白魔') {
              jobCData[1].value += allJobTimes[i];
            }
            else{
              jobCData[2].value += allJobTimes[i];
            }
          }
          var jobCOption = {
            title: {
              text: '颜色组成'
            },
            tooltip: {},
            series: [{
              type: 'pie',
              data: jobCData,
              itemStyle: {
                normal: {
                  color: function(params) {
                    var colorList = jobCColor;
                    return colorList[params.dataIndex]
                  }
                }
              }
            }]
          }
          jobCChart.setOption(jobCOption)
        </script>
      </div>



    </main>
  </div>
</div>

</body>
</html>
