<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>主页</title>


    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>




    <link href="css/dashboard.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">艾欧泽亚大皇冠</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">注销</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{dashboard.html}">
              <span>
                <i class="bi bi-person-lines-fill" style="font-size: 1.5rem"></i>
              </span>
                            <span style="font-size: 24px" th:inline="text">被宽恕的[[${username}]]</span>
                        </a>
                    </li>

                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>卑  微  导  随  人</span>
                </h6>


                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
              <span data-feather="file-text">
                <i class="bi bi-list-stars" style="font-size: 1.5rem"></i>
              </span>
                            <span style="font-size: 20px">导随记录</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
              <span data-feather="file-text">
                <i class="bi bi-journal-bookmark-fill" style="font-size: 1.5rem"></i>
              </span>
                            <span style="font-size: 20px">导随日志</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
              <span data-feather="file-text">
                <i class="bi bi-lightning" style="font-size: 1.5rem"></i>
              </span>
                            <span style="font-size: 20px">小心毒豆芽</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-left: 22%; margin-right: 22%">
                <h1 class="h2">
                    <span><img src="images/liuhan_crown.jpg"></span>搞一把
                </h1>

            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-left: 22%; margin-right: 22%">
                <form class="needs-validation" th:action="@{/add}" th:method="post">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="userjob">用的职业</label>
                            <input type="text" class="form-control" name="userJob" id="userjob">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="raidname">副本名字</label>
                            <input type="text" class="form-control" name="raidName" id="raidname">
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="comment">评价一下</label>
                        <span class="text-muted">(不超过20字)</span>
                        <input type="text" class="form-control" name="comment" id="comment">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">添加记录</button>
                    </div>
                </form>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3" style="margin-left: 22%; margin-right: 22%">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">编号</th>
                            <th scope="col">副本</th>
                            <th scope="col">职业</th>
                            <th scope="col">评价</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rec:${recs}">
                            <td th:text="${rec.getRecordNumber()}"></td>
                            <td th:text="${rec.getRaidName()}"></td>
                            <td th:text="${rec.getUserJob()}"></td>
                            <td th:text="${rec.getComment()}"></td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </main>
    </div>
</div>

</body>
</html>
