<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongotea.fucknoob.mapper.UserMapper">
    <insert id="save" parameterType="com.kongotea.fucknoob.entity.User">
        insert into user(qqid,name,password) values(#{userId},#{userName},#{password})
    </insert>
    <select id="findById" parameterType="java.lang.String" resultType="com.kongotea.fucknoob.entity.User">
        select qqid userId, name userName, password password from user where qqid = #{userFindId}
    </select>
    <select id="findAll" resultType="com.kongotea.fucknoob.entity.User">
        select qqid userId, name userName, password password from user
    </select>
</mapper>